
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: white;
}

.logo h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.1;
}

ul{
    display: flex;
    list-style: none;
    gap: 35px;
}

a{
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

a:hover{
    color: black;
}

button{
    background-color: #2F5BFF;
    color: white;
    border: none;
    padding: 14px 35px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

button:hover{
    background-color: #1f46d8;
}





header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./images/banner.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
    text-align: center;
    color: white;
    width: 70%;
}

.header-content h1{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header-content p{
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.header-content button{
    background: #2F5BFF;
    color: white;
    padding: 15px 35px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}